<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navStyles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="navLnk" href="/home">Home</a></li>
            <li><a class="navLnk" href="/shop">Shop</a></li>
            <li><a class="navLnk" href="/docs">Docs</a></li>
            <li><a class="navLnk" href="/test">testArea</a></li>
        </ul>
    </nav>
    <div>
        <h1 class="msgLogin">User Login</h1>
        <form action="{{ url_for('test') }}" method="POST">
        <div class="loginElement">Username : <input name="usrname" id="usrname" type="text" placeholder="Enter Username" required></div>
        <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>